* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #12121f;
  color: white;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
